@font-face {
  font-family: 'Comfortaa';
  src: url('@/assets/fonts/Comfortaa-VariableFont_wght.ttf');
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #424858;
}

* {
  user-select: none;
}
.select-text {
  user-select: text;
}

pre {
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  display: flex !important;

  code {
    margin: 0 !important;
    top: 0px !important;
    flex-grow: 1 !important;
  }
}
pre code.hljs,
pre code.hljs * {
  user-select: text !important;
  font-family: monospace !important;
}

.font-monospace {
  font-family: monospace !important;
}
.select {
  user-select: text !important;
}

@import './lib/vuetify/index.scss';
